body {
    width: 100%;
}

#root {
    max-width: 100%;
    width: 100%;
    text-align: center;
}

.app {
    display: flex;
    flex-direction: row;
    direction: rtl;
    width: 100%;
    max-width: 100%;
}
