.main-page {
    width: 100%;
    padding: calc(4rem + 16px);
    overflow: hidden;
}

.content {
    height: 100%;
}

.tutorial {
    max-width: 80%;
    margin: 30px auto;
    display: inline-block;
    white-space: pre-line;
}

.logo-section {
    direction: ltr;
    display: flex;
}

.logo-section img {
    height: 60px;
}