.inputs-form {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 10px;
}

.inputs-form label {
    font-weight: 700;
}

.decision-text-input {
    width: 100%;
}

.evaluate-button {
    margin-top: 6px;
}

.loader-container {
    display: flex;
    justify-content: center;
}

.error-message {
    overflow-wrap: anywhere;
}