.input-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-self: center;
    width: 100%;
    max-width: 1000px;
}

.input-field {
    width: 100%;
    border: 1px solid #526985;
    border-radius: 40px;
    font-size: 18px;
    background-color: #fff;
    box-shadow: 0px 3px 6px #00000029;
    padding: 20px;
    color: #000;
    resize: none;
}
.input-field::-webkit-scrollbar {
    width: 20px;
}

.input-field::-webkit-scrollbar-track {
    background-color: transparent;
}

.MuiIconButton-root.input-button {
    border-radius: 40px;
    position: absolute;
    left: 20px;
    width: 40px;
    height: 40px;
    font-size: x-large;
}

.MuiIconButton-root.input-button:hover {
    background-color: #002856;
    color: #fff;
}